{% extends 'page' %}

{% block content_bottom %}
    {% for talk in data.talks if page.shortname in talk.speakers %}
        {% if loop.first %}
            <h2>Talks</h2>
        {% endif %}

        <ul>
            <li>
                <a href="{{ talk.url }}">{{ talk.title }}</a>
            </li>
        </ul>
    {% endfor %}
{% endblock %}
