<div class="contact">
    <h2>Contact Us</h2>

    <ul class="list">
        <li>
            <a href="mailto:{{ site.email }}"><i class="fa fa-paper-plane-o"></i> Get in touch</a>
        </li>

        <li>
            <a href="{{ site.drupalorg.url }}"><i class="fa fa-drupal"></i> Find us on Drupal.org</a>
        </li>

        <li>
            <a href="{{ site.twitter.url }}"><i class="fa fa-twitter"></i> Follow us on Twitter</a>
        </li>

        <li>
            <a href="{{ site.github.url }}"><i class="fa fa-github"></i> Fork this on GitHub</a>
        </li>
    </ul>
</div>
