---
layout: page
title: Talks
use:
    - talks
---
<ul>
    {% for talk in data.talks|reverse %}
        <li>
            <a href="{{ talk.url }}">{{ talk.title }}</a>
        </li>
    {% endfor %}
</ul>
